<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <title>Cryptocurrency Tracker</title>
   <!-- Mobile Specific Meta
  ================================================== -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Favicon -->
   <link rel="icon" type="image/png" href="/assets/images/favicon-1616.png" sizes="16x16">
   <link rel="icon" type="image/png" href="/assets/images/favicon-3232.png" sizes="32x32">
   <link rel="icon" type="image/png" href="/assets/images/favicon-9696.png" sizes="96x96">
   <!-- CSS
  ================================================== -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
   <!-- Main Stylesheet -->
   <link rel="stylesheet" href="/assets/css/style.css">

   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
</head>



<body id="body">
   <!-- Fixed Navigation -->
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/"><img src="/assets/images/cryptocurrency-logo-v3.png"></a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
               <button type="submit" id='logout' class="btn btn-danger"><a href="/logout">Sign Out</a></button>
            </form>
         </div>
         <!--/.navbar-collapse -->
      </div>
   </nav>


   {{{ body }}}


   <footer id="footer" class="bg-one">

      <div class="row">
         <div class="col-lg-5 col-md-4 col-sm-4 col-xs-3"></div>
         <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
            <img style="width:100%; padding:20px;" src="/assets/images/cryptocurrency-logo-v3.png">
         </div>
         <div class="col-lg-5 col-md-4 col-sm-4 col-xs-3"></div>
      </div>
      <div class="row">
         <div class="col-12 text-center copyright">
            <span>POWERED BY ROJATECHNOLOGIES</span>
         </div>
      </div>
   </footer>

   <!-- JQUERY -->
   <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

   <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


   <!-- Custom js -->
   <script src="/assets/js/nav-buttons.js"></script>
   <script src="/assets/js/script.js"></script>

</body>

</html>