<!-- Green Bar -->
<div class="container-fluid green-container">
   <div class="row">
      <div class="col-span-12 text-center">
      </div>
   </div>
</div>

<div class="container-fluid sub-container-divider">
   <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2"></div>
      <!-- REGISTRATION FORM -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 registration-form">
         <div class="block text-center">
            <h2 class="text-center">Create Your Account</h2>
            <form class="text-left clearfix mt-30" method='post' action="/registration" id='signup'>
               <div class="form-group">
                  <input type="text" class="form-control" name='firstname' placeholder="First Name">
               </div>
               <div class="form-group">
                  <input type="text" class="form-control" name='lastname' placeholder="Last Name">
               </div>
               <div class="form-group">
                  <input type="text" class="form-control" name='username' placeholder="Username">
               </div>
               <div class="form-group">
                  <input type="email" class="form-control" name='email' placeholder="Email">
               </div>
               <div class="form-group">
                  <input type="password" class="form-control" name='password' placeholder="Password">
               </div>
               <button type="submit" class="btn btn-main text-center">Sign Up</button>
            </form>
            <p class="mt-20">Already hava an account ?
               <a style="color:#222222;" href="/login"> Login</a>
            </p>
         </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2"></div>
   </div>
</div>
<!-- Start Our Team -->
<section class="team section" id="team">
   <div class="container">
      <div class="row">
         <div class="col">
            <div class="title text-center">
               <h4></h4>
               <h2></h2>
               <span class="border"></span>
            </div>
         </div>
      </div>
      
   </div>
</section>